<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Accede a tus archivos en MetadataBox</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <div text-center padding-top padding-horizontal>
      <button ion-button (click)="logIn('google')" colror="google">
        Continuar con Google
      </button>
    </div>
    <div text-center style="padding: 8px 0;">
      O
    </div>
    <div text-center padding-bottom padding-horizontal>
      <button ion-button (click)="logIn('facebook')" color="facebook">
        Continuar con Facebook
      </button>
    </div>
  </ion-card>
</ion-content>
