page-home {
  .item-inner {
    padding-left: 8px;
  }

  .label {
    margin: 0px;
  }

  .item ion-icon[item-left] + .item-inner,
  .item ion-icon[item-left] + .item-input,
  .item ion-icon[item-start] + .item-inner,
  .item ion-icon[item-start] + .item-input {
    margin-left: 0px;
  }
}
