<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ng-container *ngIf="!searchBar; else elseBlock">
      <ion-title>Directorio principal</ion-title>  
    </ng-container>
    <ng-template #elseBlock>
      <ion-searchbar placeholder="Buscar un archivo"
       (ionInput)="getItems($event)"></ion-searchbar>
    </ng-template>
    <ion-buttons end>
      <button ion-button icon-only (click)="search()">
        <ion-icon name="search" *ngIf="!searchBar"></ion-icon>
        <ion-icon name="close-circle" *ngIf="searchBar"></ion-icon>
      </button>
      <button ion-button icon-only (click)="addFolder()">
        <ion-icon name="add"></ion-icon>
      </button>
      <button ion-button clear (click)="goBack()"
       *ngIf="rootFolderIDInThisView && rootFolderIDInThisView != -1">
      Atr&#xe1;s
    </button>
    </ion-buttons>
  </ion-navbar>
  <ion-navbar>
    <ion-row align-items-start>
      <ion-col no-padding align-self-start>
        <button ion-item clear no-margin no-lines detail-none no-padding
         style="background-color: rgba(0, 0, 0, 0);"
         (click)="sortByName()">
          <ion-row align-items-center>
            <ion-col col-auto>
              Nombre
            </ion-col>
            <ion-col align-self-start>
              <ion-icon *ngIf="!lookingForFiles && sortedByName"
               [name]="nameArrowUp ? 'arrow-round-up' : 'arrow-round-down'">
              </ion-icon>
            </ion-col>
          </ion-row>          
        </button>
      </ion-col>
      <ion-col no-padding col-auto align-self-end>
        <button ion-item clear no-margin no-lines detail-none no-padding
         style="background-color: rgba(0, 0, 0, 0);"
         (click)="sortByDate()">
          <ion-row align-items-center>
            <ion-col col-auto>
              Fecha de modificaci&#xf3;n
            </ion-col>
            <ion-col align-self-start>
              <ion-icon *ngIf="!lookingForFiles && !sortedByName"
               [name]="dateArrowUp ? 'arrow-round-up' : 'arrow-round-down'">
              </ion-icon>
            </ion-col>
          </ion-row>          
        </button>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-fab top center edge>
    <button ion-fab mini color="dark" [disabled]="lookingForFiles">
      <ion-icon name="cloud-upload"></ion-icon>
    </button>
  </ion-fab>
  <div text-center *ngIf="lookingForFiles" padding margin>
    <ion-spinner style="height: 4.0em; width: 4.0em;"></ion-spinner>
  </div>
  <ion-list *ngIf="!lookingForFiles">
    <ng-container *ngIf="rootFolderIDInThisView">
    <button ion-item detail-none
     *ngFor="let file of items"
     (click)="goToChild(file._id)">
      <button ion-button clear icon-only item-start
       (click)="showObjectMenu($event)">
        <ion-note item-start>
          <ion-icon color="dark" name="md-more"></ion-icon>
        </ion-note>
        <ion-note item-end>
          <ion-icon color="dark" name="folder"></ion-icon>
        </ion-note>
      </button>
      <div text-wrap>
        {{ file.name }}
      </div>
      <ion-note item-end>
        <ion-row align-items-center>
          <ion-col>
            <div text-right>
              {{ file.updated_at | datePipe}}
            </div>
          </ion-col>
          <ion-col col-1 align-self-center
           *ngIf="folderTree[file._id].length > 0">
            <ion-icon name="ios-arrow-forward"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-note>
    </button>
    </ng-container>
  </ion-list>
</ion-content>
