<ion-menu [content]="content">

  <ion-content>
    <div *ngIf="loggedInUser">
      <ion-item no-padding no-lines
       style="background-color: rgba(0, 0, 0, 0);">
        <ion-avatar>
          <img src="{{ userProfile.photoUrl }}"
           style="text-align: center; margin: auto;">
        </ion-avatar>
        <div text-center text-wrap padding>
          {{ userProfile.name }}
        </div>
      </ion-item>
    </div>

    <ion-footer>
      <button ion-button menuClose block clear icon-left  (click)="goToLogin()"
       *ngIf="!loggedInUser">
        <ion-icon name="log-in"></ion-icon>
        Acceder
      </button>
      <button ion-button menuClose block clear icon-left (click)="logOut()"
       *ngIf="loggedInUser">
        <ion-icon name="log-out"></ion-icon>
        Desconectar
      </button>
    </ion-footer>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>